<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('')"></head>
<body>
<div th:replace="layout :: nav"></div>

  <div class="grid-container">

    <div th:replace="layout :: header"></div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-30">
            <select>
              <option value="">All Categories</option>
              <option th:each="category : ${categories}" th:value="${category}" th:text="${category.name}">Category</option>
            </select>
          </div>
          <div class="grid-40">
            <input placeholder="Search"></input>
          </div>
          <div class="grid-30">
            <div class="flush-right">
              <form th:action="@{/recipes/add}"><button>+ Add Recipe</button></form>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div th:each="recipe : ${recipes}" class="grid-100 row addHover">
          <div style="display: inline"><img th:src="${recipe.isFavorite()} ? @{/images/favorited.svg} : @{/images/favorite.svg}" height="12px"/> </div>
          <a th:href="@{|/recipes/${recipe.id}/|}">
            <div style="display: inline" class="grid-70">
              <p  th:text="${recipe.name}">
                Recipe Name
              </p>
            </div>
          </a>
          <div class="hoverBlock">
            <div class="grid-30">
              <div class="flush-right">
                <p>
                  <a th:href="@{|/recipes/${recipe.id}/edit|}"> <img th:src="@{images/edit.svg}" height="12px"/> Edit </a>
                <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post"><button type="submit"><img th:src="@{images/delete.svg}" height="12px"/> Delete </button></form>
                </p>
              </div>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div class="row">&nbsp;</div>

      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
