<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('')"></head>
<div th:replace="layout :: nav"></div>
<body>

  <div class="grid-container">

    <div class="grid-100">
      <a href="index.html">
        <h1>
          <img src="images/chefbot.svg" height="60px"/>
            <br/>
          My Recipes
        </h1>
      </a>
    </div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-30">
            <select>
              <option value="">All Categories</option>
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
              <option value="dessert">Dessert</option>
            </select>
          </div>
          <div class="grid-40">
            <input placeholder="Search"></input>
          </div>
          <div class="grid-30">
            <div class="flush-right">
              <button>+ Add Recipe</button>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div th:each="recipe : ${recipes}" class="grid-100 row addHover">
          <a href="detail.html">
            <div class="grid-70">
              <p th:href="@{|/recipes/${recipe.id}/|}" th:text="${recipe.name}">
                <span>
                  <img th:if="${recipe.favorite}" th:src="@{/images/favorited.svg}" height="12px"/>
                  <img th:src="@{/images/favorite.svg}" height="12px"/>
                </span>
                Recipe Name
              </p>
            </div>
          </a>
          <div class="hoverBlock">
            <div class="grid-30">
              <div class="flush-right">
                <p>
                  <a href="edit.html"> <img src="images/edit.svg" height="12px"/> Edit </a>
                  <a href="#"> <img src="images/delete.svg" height="12px"/> Delete </a>
                </p>
              </div>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div class="row">&nbsp;</div>

      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
