<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('')"></head>
<body>
<div th:replace="layout :: nav"></div>

  <div class="grid-container">

    <div th:replace="layout :: header"></div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-30">
            <form th:action="@{/category}" method="get">
            <select name="category">
              <option value="">All Categories</option>
              <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">Category</option>
            </select>
              <button style="display: inline" type="submit">Category</button>
            </form>
          </div>
          <div class="grid-40">
            <input placeholder="Search"></input>
          </div>
          <div class="grid-30">
            <div class="flush-right">
              <form th:action="@{/recipes/add}"><button>+ Add Recipe</button></form>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div th:each="recipe : ${recipes}" class="grid-100 row addHover">
          <div><img th:src="${recipe.isFavorite()} ? @{/assets/images/favorited.svg} : @{/assets/images/favorite.svg}" height="12px"/> </div>
          <a th:href="@{|/recipes/${recipe.id}/|}">
            <div class="grid-70">
              <p style="display: inline; margin-left: 5%" th:text="${recipe.name}">
                Recipe Name
              </p>
            </div>
          </a>
          <div class="hoverBlock">
              <div>
                  <a th:href="@{|/recipes/${recipe.id}/edit|}"> <img th:src="@{/assets/images/edit.svg}" height="12px"/> Edit </a>
                <form style="display: inline" th:action="@{|/recipes/${recipe.id}/delete|}" method="post">
                  <button style="background: transparent; color: #808080; margin-left: 0px" type="submit">
                  <img th:src="@{/assets/images/delete.svg}" height="12px"/> Delete </button>
                </form>
              </div>
          </div>
        </div> <div class="clear"></div>

        <div class="row">&nbsp;</div>

      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
