<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('')"></head>
<body>
<div th:replace="layout :: nav"></div>

  <div class="grid-container">

    <div class="grid-100">
      <div th:replace="layout :: header"></div>
      <div th:replace="layout :: flash"></div>
    </div>

    <div class="grid-100">
      <div class="recipes">
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input placeholder="Username"> </input>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input placeholder="Password" type="password"> </input>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <button>Login</button>
          </p>
        </div> <div class="clear"></div>
      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
