<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('${username}')"></head>

<body>

<div th:replace="layout :: nav"></div>

  <div class="grid-container">

    <div th:replace="layout :: header"></div>
    <div th:replace="layout :: flash"></div>

    <div class="grid-100">

      <div class="recipes">

        <div class="grid-100 row controls">
          <div class="grid-100">
            <h2> Username </h2>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row addHover">
          <a href="detail.html">
            <div class="grid-70">
              <p>
                <span><img src="images/favorited.svg" height="12px"> </span>
                Broiche French Toast with Nutella
              </p>
            </div>
          </a>
          <div class="hoverBlock">
            <div class="grid-30">
              <div class="flush-right">
                <p>
                  <a href="#"> <img src="images/edit.svg" height="12px"> Edit </a>
                  <a href="#"> <img src="images/delete.svg" height="12px"> Delete </a>
                </p>
              </div>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div class="grid-100 row addHover">
          <a href="detail.html">
            <div class="grid-70">
              <p>
                <span><img src="images/favorited.svg" height="12px"> </span>
                Meyer Lemon French Toast
              </p>
            </div>
          </a>
          <div class="hoverBlock">
            <div class="grid-30">
              <div class="flush-right">
                <p>
                  <a href="#"> <img src="images/edit.svg" height="12px"> Edit </a>
                  <a href="#"> <img src="images/delete.svg" height="12px"> Delete </a>
                </p>
              </div>
            </div>
          </div>
        </div> <div class="clear"></div>

        <div class="row">&nbsp;</div>

      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
