<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Sign-Up')"></head>
<body>

<div>
  <nav>
    <button style="background: transparent; color: #808080"><a th:href="@{/signup}" style="display: inline">sign-up</a></button>
    &bull;
    <form th:action="@{/login}" style="display: inline"><button style="background: transparent; color: #808080">login</button></form>
  </nav>
</div>

  <div class="grid-container">

    <div class="grid-100">
      <div th:replace="layout :: header"></div>
      <div th:replace="layout :: flash"></div>
    </div>

    <div class="grid-100">
      <div class="recipes">
        <form id="signupForm" th:action="@{/users/add}" method="post" th:object="${user}">
          <input type="hidden" th:field="*{id}"/>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input th:field="*{username}" placeholder="Username"/>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input id="firstPassword" th:field="*{password}" placeholder="Password" type="password"/>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input id="secondPassword" placeholder="Password Again" type="password"/>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <button type="button" id="signupButton">Sign-up</button>
          </p>
        </div> <div class="clear"></div>
        </form>
      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->

  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
          crossorigin="anonymous"></script>
  <script th:src="@{/assets/js/app.js}" type="text/javascript" charset="utf-8"></script>

</body>
</html>
