<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Sign-Up')"></head>
<body>

<nav>
  <form th:action="@{/users/add}" style="display: inline"><button>sign-up</button></form>
  &bull;
  <form th:action="@{/login}" style="display: inline"><button>login</button></form>
</nav>

  <div class="grid-container">

    <div class="grid-100">
      <div th:replace="layout :: header"></div>
      <div th:replace="layout :: flash"></div>
    </div>

    <div class="grid-100">
      <div class="recipes">
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input placeholder="Username"> </input>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input placeholder="Password" type="password"> </input>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <input placeholder="Password Again" type="password"> </input>
          </p>
        </div> <div class="clear"></div>
        <div class="prefix-20 grid-60 suffix-20">
          <p>
            <button>Sign-up</button>
          </p>
        </div> <div class="clear"></div>
      </div> <!-- recipes -->
    </div> <!-- grid-100 -->
  </div> <!-- grid-container -->
</body>
</html>
